NEXT_PUBLIC_SUPABASE_URL=https://vlztpqhqjnucfwepxwbw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_xxx
SUPABASE_SERVICE_ROLE_KEY=sb_secret_xxx

WEB_BASE_PATH=/night-food-web
ADMIN_BASE_PATH=/night-food-admin

NEXT_PUBLIC_SITE_URL=http://43.130.32.21:8088/night-food-web
NEXT_PUBLIC_ADMIN_SITE_URL=http://43.130.32.21:8088/night-food-admin

HOUSEHOLD_DEFAULT_NAME=Night Food Home
OWNER_INVITE_EXPIRY_HOURS=48
POINTS_EXCHANGE_RATE=1

